* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v116_220 {
  width: 100%;
  height: 810px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v116_221 {
  width: 1000px;
  height: 740px;
  background: rgba(255,242,236,1);
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 220px;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v116_229 {
  width: 100%;
  height: 740px;
  background: rgba(208,188,255,0.20000000298023224);
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 0px;
  overflow: hidden;
}
.v185_94 {
  width: 100%;
  height: 70px;
  background: url("../images/v185_94.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.30000001192092896);
  overflow: hidden;
}
.v185_95 {
  width: 100%;
  height: 70px;
  background: rgba(208,188,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v185_96 {
  width: 188px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 15px;
  left: 23px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 34px;
  opacity: 1;
  text-align: left;
}
.v185_97 {
  width: 90px;
  height: 35px;
  background: url("../images/v185_97.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 1317px;
  overflow: hidden;
}
.v185_98 {
  width: 90px;
  height: 35px;
  background: rgba(101,85,143,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v185_99 {
  width: 90px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 0px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v185_100 {
  width: 90px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 28px;
  left: 1221px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v185_101 {
  width: 150px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 28px;
  left: 1065px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v116_258 {
  width: 180px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 183px;
  left: 300px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v116_230 {
  width: 780px;
  height: 40px;
  background: url("../images/v116_230.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 594px;
  left: 270px;
  overflow: hidden;
}
.v116_231 {
  width: 780px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v116_232 {
  width: 616px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 30px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v116_250 {
  width: 100px;
  height: 40px;
  background: url("../images/v116_250.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 594px;
  left: 1064px;
  overflow: hidden;
}
.v116_251 {
  width: 100px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v116_252 {
  width: 40px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 31px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v116_233 {
  width: 900px;
  height: 350px;
  background: url("../images/v116_233.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 220px;
  left: 270px;
  overflow: hidden;
}
.v116_234 {
  width: 900px;
  height: 350px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v116_235 {
  width: 315px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 27px;
  left: 30px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v116_240 {
  width: 900px;
  height: 1000px;
  background: url("../images/v116_240.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 657px;
  left: 270px;
  overflow: auto;
}
.v116_241 {
  width: 900px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;

  border-radius: 20px;
  overflow: auto;
}
.v116_242 {
  width: 315px;
  color: rgba(0,0,0,1);
  position: absolute;

  font-family: Lato;
  font-weight: Regular;

  opacity: 1;
  text-align: left;
}
.v116_244 {
  width: 900px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v116_245 {
  width: 315px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 38px;
  left: 30px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v116_247 {
  width: 900px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v116_248 {
  width: 315px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 73px;
  left: 30px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v116_236 {
  width: 900px;
  height: 50px;
  background: url("../images/v116_236.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 270px;
  overflow: hidden;
}
.v116_237 {
  width: 900px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v116_238 {
  width: 232px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2px;
  left: 30px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v116_254 {
  width: 181px;
  height: 40px;
  background: url("../images/v116_254.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 507px;
  left: 987px;
  overflow: hidden;
}
.v116_255 {
  width: 163px;
  height: 40px;
  background: rgba(255,228,76,1);
  opacity: 1;
  position: absolute;
  border-radius: 20px;
  overflow: hidden;
}
.v116_256 {
  width: 139px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 12px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}

li {
    list-style-type: none;
}